/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
.header {
    height: 3rem;
    border: 0.063rem solid #d1d5db;
    background-color: #1a4870;
  }
a{
    text-decoration: none !important;
}
.cancel-btn {
    border-radius: .5rem;
    border: 0.063rem solid red;
    background-color: white;
    color: red;
    font-weight: bold;
    height: 3.125rem;
    width: 5rem;
  }
  
  .submit-btn {
    border-radius: .5rem;
    border: 0.063rem solid rgb(0, 145, 255);
    background-color: white;
    color: rgb(0, 153, 255);
    font-weight: bold;
    height: 3.125rem;
    width: 5rem;
  }
  